h2{
    margin-top: 3rem;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(39, 13, 71);
    font-size: 4rem;
}
html body{
    background-color: aqua;
    margin: 0;
    padding: 0;
}
.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(130, 116, 104);
    box-shadow: rgb(255, 255, 0);
    border-radius: 15px;
    padding-bottom: 18px;
    width: 325px;
}
.display{
    width: 100%;
    height: 60px;
    padding: 40px 0;
    background: black !important;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.buttons{
    padding: 20px 20px 0px 20px;   
}
.row{
    width: 280px;
    float: left;
}
.btn:hover{
    background-color: blue;
    color: honeydew;
}
input[type=button]{  
    width: 60px;
    height: 60px;
    float: left;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    background-color: rgb(12, 10, 15);
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color:white;
    cursor: pointer;
}
input[type=text]{
    width: 275px;
    height: 60px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: none;
    columns: white;
    text-align: right;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    margin: 0 25px;
}
.blue{
    background-color: tomato;
    color: white;
}